<form id="form_login" action="\getuser" method="post">
  <div class="mb-3">
    <label for="email" class="form-label font-weight-bold">Username</label>
    <input
      class="form-control"
      id="username"
      aria-describedby="emailHelp"
      name="l_username"
      required
    />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label font-weight-bold">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="l_password"
      required
    />
  </div>
  <% if(locals.userNotFound) { %>
  <div class="mb-3 text-danger">
    <span
      >Sorry, user not found! Click on Sign Up to register.</span
    >
  </div>
  <% } %>
  <div class="d-grid gap-2">
    <button type="submit" class="btn btn-primary">Enter</button>
  </div>
</form>
