<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include ('partials/links.ejs') -%>
    <title>Book DriveTest - Dashboard</title>
  </head>
  <body>
    <%- include ('partials/header.ejs') -%>
    <div class="banner">
      <h1 class="banner-title">Dashboard</h1>
      <p class="banner-text">DriveTest Booking Kiosk</p>
    </div>
    <main>
      <section class="dashboard-section">
        <div class="section-content">
          <h2>You can book G/G2 drive test from this Kiosk</h2>
          <p class="display-6">You can book G/G2 drive test from this Kiosk</p>
          <em>Postey by <strong>DriveTest Center</strong></em>
        </div>
      </section>
    </main>
    <%- include ('partials/footer.ejs') -%>
    <%- include ('partials/scripts.ejs') -%>
  </body>
</html>
